* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin:0 135px;
}

.navbar-brand img {
    width: 64px;
    height: 80px;
    border-radius: 6px;
}

.navbar-nav {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #171717;
}

.margin-r-30{
    margin-right: 30px;
}

.fa-phone {
    height: 20px;
    width: 14px;
}
