:root {
  --primary-color: #ea6b02;
  --secondary-color: #171717;
  --color-grey: #777777;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

/* header section  */
#header {
  position: absolute;
  width: 100%;
  height: 79.92px;
  top: 10.04px;
}

.navbar-brand img {
  width: 64px;
  height: 80px;
  border-radius: 6px;
}

.navbar-nav {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: var(--secondary-color);
}

.margin-r-30 {
  margin-right: 22px;
}

.fa-phone {
  height: 20px;
  width: 14px;
  color: var(--secondary-color);
}

/* main section  */

#main {
  background: url('../images/Rectangle\ 1.png');
  min-height: 900px;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1440px;
}

#main .row {
  padding-top: 225px;
}

.heading-section h1 {
  width: 514.91px;
  height: 140px;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  color: var(--primary-color);
}

.heading-section p {
  width: 497.62px;
  height: 90px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-color);
}

.main-image {
  padding-right: 0;
}

.main-image img {
  width: 491.83px;
  height: 550px;
}

/* work process section  */
#work-process {
  padding: 98px 0;
}

#work-process h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.work-process-icon {
  width: 50px;
  height: 50px;
  color: var(--color-grey);
  margin-bottom: 35px;
}
.card {
  width: 300px;
  padding: 28px 5px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.card:hover {
  clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--color-white);
  box-shadow: 0px 15px 40px rgba(234, 107, 2, 0.3);
  z-index: 10;
}

.card-title {
  font-size: 24px;
  line-height: 24px;
  color: var(--secondary-color);
  margin-bottom: 14px;
}

.card-text {
  font-family: Open Sans;
  font-size: 17px;
  line-height: 28px;
  color: #4f4f4f;
  width: 250px;
  height: 56px;
}

.card:hover .card-title,
.card:hover .card-text {
  color: var(--color-white);
}
/* .card:hover .card-img-top {
    filter: invert(99%) sepia(100%) saturate(12%) hue-rotate(240deg) brightness(104%) contrast(100%);
} */

.png-img {
  filter: invert(73%) sepia(14%) saturate(74%) hue-rotate(30deg) brightness(93%)
    contrast(91%);
}
